[submodule "kuma_utils"]
	path = kuma_utils
	url = https://github.com/analokmaus/kuma_utils.git
[submodule "pytorch-image-models"]
	path = pytorch-image-models
	url = https://github.com/rwightman/pytorch-image-models.git
[submodule "global_objectives_pytorch"]
	path = global_objectives_pytorch
	url = https://github.com/Shlomix/global_objectives_pytorch.git
